body {
  background: rgba(0, 0, 0, 0) url("/images/background2.jpg");
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}
#root {
  text-align: center;
  height: 100%;
}
