body {
  background: rgba(0, 0, 0, 0) url("/images/background2.jpg");
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}
#root {
  text-align: center;
  height: 100%;
}

.css-1f8sh1y {
  height: 300px;
}

div.paper-slider {
  height: 100%;
}

.css-1l7c0cy div div div {
  height: 300px;
}

.css-1m9128y {
  margin-top: 50px !important;
}

@media (min-width: 768px) {
  .css-1f8sh1y {
    height: 450px;
  }
  .css-1l7c0cy div div div {
    height: 450px;
  }

  .Project {
    background-color: #f8eec6 !important;
  }
  .css-dnaazg-MuiCardMedia-root {
    background-size: contain !important;
    border-radius: 10px !important;
  }
}

.MuiPopover-paper {
  background-color: #2a1e16 !important;
  border-radius: 10px !important;
  overflow-y: hidden !important;
}
